.rbc-header {
  color: white;
  display: flex;
  align-items: center;
  font-weight: normal;
  justify-content: center;
  height: 36px !important;
  background-color: #8e49ff;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-header-cell .rbc-today {
  background-color: #b080ff !important;
}

.rbc-time-slot {
  background-color: #f9f6ff;
}

.rbc-event {
  min-height: 50px !important;
}

.rbc-event,
.rbc-background-event {
  padding: 0px !important;
  margin: none !important;
  border: none !important;
  background-color: transparent !important;
  min-height: fit-content;
  max-width: fit-content;
  /* height: 0px !important;
  width: 0px !important; */
}

.rbc-event:focus {
  border: none !important;
  outline: none !important;
}

.rbc-event-label {
  display: none !important;
}

.rbc-event-content br {
  display: none;
}

.rbc-month-slot .rbc-event-content br {
  display: none !important;
}

.rbc-week-slot .rbc-event-content {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  width: fit-content !important;
}

.rbc-month-row {
  overflow: visible;
  /* max-height: 90px !important; */
}

.rbc-row-content {
  /* background-color: rgba(0, 128, 128, 0.452) !important; */
}

.rbc-time-content {
  /* max-height: 400px !important; */
}

.rbc-row-segment {
  height: fit-content !important;
  overflow-y: hidden !important;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0px !important;
}

.rbc-week-slot .rbc-events-container {
  /* min-height: 120px !important; */
}

/* Contain events within cell 1 */
.rbc-month-view .rbc-row-content {
  /* height: calc(100% - 1px) !important; */
  /* overflow: hidden; */
}
