@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  select {
    @apply outline-none;
  }

  input,
  select:hover,
  input,
  select:focus {
    @apply outline-none;
  }
}

:root {
  --bg: #fff;
  --text: #3f4648;

  --font-lato: 'Lato', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  /* font-family: var(--font-lato); */
  font-family: var(--font-roboto);
  color: var(--text);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-poppins);
}

a {
  text-decoration: none;
}

/* .sidebar::-webkit-scrollbar {
  width: 1px;
} */

.profileImage {
  border-radius: 50%;
  width: 50px;
  height: auto;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* General Scrollbar Styling */
  ::-webkit-scrollbar {
    width: 4px; /* For vertical scrollbars */
    height: 4px; /* For horizontal scrollbars */
  }

  ::-webkit-scrollbar-track {
    background: #f5d86500; /* Background of the scrollbar track */
  }

  ::-webkit-scrollbar-thumb {
    background: #efe9fb; /* Thumb (draggable handle) colour */
    border-radius: 4px; /* Rounded corners for thumb */
    min-height: 50px;
  }

  /* Hover Effect for Thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: #d8b4fe; /* Darker colour on hover */
  }

  /* For Firefox */
  .scrollbar {
    scrollbar-width: thin; /* Reduces scrollbar width */
    scrollbar-color: #efe9fb #f5d86500; /* Thumb and track colours */
  }

  /* To completely hide scrollbars */
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .users-table {
    --scrollbar-thumb-min-height: 50px;
    /* background-color: red !important; */
  }
}

.rbc-show-more {
  color: #8e49ff !important;
}
